.bg-darkblue {
    background-color: #243377;
}

.bg-gradient-darkblue {
    background-color: #243377;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#102153));
    background-image: linear-gradient(180deg, #243377 10%, #102153 100%);
    background-size: cover;
  }

.btn-darkblue {
    color: #fff;
    background-color: #243377;
    border-color: #243377;
}