#rightSide {
	position: absolute;
	top: 547px;
	left: 50%;
	margin: 0 0 0 510px;
}

#rightSide #right_zzim {
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: 550px;
	border: 1px solid #B0B5BD;
	width: 114px;
	height: 543px;
}

#rightSide #right_zzim  div {
	text-align: center;
}

#rightSide #right_zzim  div.recTit {
	line-height: 1.5em;
	padding: 5px;
	color: white;
	background-color: #505A69;
}

#right_zzim #recentCnt {
	color: yellow;
}

#rightSide #right_zzim ul {
	min-height: 495px;
	padding:0px;
}

#rightSide #right_zzim  li {
	text-align: center;
	padding: 5px;
	position: relative;
}

#rightSide #right_zzim ul li img {
	border: 1px solid #ccc;
	width : 100%;
	height: 23%;
	max-height: 90px;
}

#right_zzim .detail {
	display: none;
	position: absolute;
	top: 3px;
	right: 20px;
	xheight: 40px;
	xpadding: 15px 11px 0;
	xbackground: #404a59;
	color: #fff;
	xtext-align: left;
	white-space: nowrap;
}

#right_zzim li:hover .detail {
	display: block
}

#right_zzim li .btn_delete {
	position: absolute;
	top: 3px;
	right: -1px;
	width: 11px;
	height: 11px;
	background: url(/img/sp.png) no-repeat -193px -111px;
	text-indent: -9000px;
}

#right_zzim  #currentPage {
	position: absolute;
	top: 510px;
	left:45px;
	color: #505A69;
	font-weight: bold
}

#right_zzim  #totalPageCount {
	position: absolute;
	top: 510px;
	color: #CBC8D2;
	font-weight: bold
}

.noData {
	color: #ccc;
	text-align: center;
	margin-top: 223px;
}

}
#paging {
	display:inline;
	position: relative;
	line-height: 1em;
}

#paging .btn_prev {
	position: absolute;
	top: 510px;
	left: 4px;
	width: 13px;
	height: 11px;
	display: inline-block;
}

#paging .btn_next {
	position: absolute;
	top: 510px;
	right: 4px;
	width: 13px;
	height: 11px;
	display: inline-block;
}