@import '../../BasicStyle/BasicStyle.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rounded_Elegance;

  .FormContainer {
    width: 45%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: auto;

    .basicInputBox {
      padding-left: 10px;
      border: 1px solid $basicIndigo;
    }

    .idFormContainer {
      width: 100%;
      display: flex;
      flex-direction: row;

      .idInputBox {
        width: 70%;
      }
      .idCheckBtn {
        width: 30%;
        background-color: $basicIndigo;
        border-color: $basicIndigo;
        color: $basicWhite;
      }
    }
  }

  .ConditionForm {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: auto;

    .conditionBox {
      width: 100%;
    }

    .agreeCheckbox {
      margin-left: auto;
    }
  }

  .buttonContainer {
    width: 55%;
    height: 20%;
    display: flex;
    justify-content: space-around;

    .basicBtn {
      border-radius: 10px;
      border: 0px;   
      color: $basicWhite;
      font-size: 130%;
    }
    
    .createBtn {
      width: 55%;
      height: 40%;
      background-color: $basicOrange;
    }

    .cancelBtn {
      width: 35%;
      height: 40%;
      background-color: $basicIndigo;
    }
  }
}