@import '../../../BasicStyle/BasicStyle.scss';

.timesCitedWrapper {
  width: 100%;
  height: 100%;
  
  .timesContainer {
    width: 50%;
    height: 70%;
    border: 5px solid $basicIndigo;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timesTitle {
      color: $basicIndigo;
      font-size: 20px;
      font-weight: bold;
    }

    .timesData {
      color: $basicOrange;
      font-size: 40px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}