@import '../BasicStyle/BasicStyle.scss';

.paperEditWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .componentTitleContainer {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;

    .title{
      font-size: 30px;
      color: $basicIndigo;
      font-weight: bold;
    }
  }

  // .saveButton {
  //   width: 7%;
  //   height: auto;
  //   background-color: $basicOrange;
  //   border: $basicIndigo;
  //   border-radius: 10px;
  //   outline: none;
  //   color: $basicWhite;
  //   margin: 10px 0 0 auto;
  // }
}

// .searchAllPaperComponent {
//   height: 410px;
// } 
// .allPaperList, .myPaperList {
//   height: auto;
// }