@import '../../components/BasicStyle/BasicStyle.scss';

#header{
  display: inline-flex;
  justify-content: space-between;
  background-color : $basicIndigo;
  height: 60px;
  width: 100vw;
}

#searchMyPaperLayout{
  display: inline-flex;
  overflow-y: hidden;
  height: calc(100vh - 60px);
  width: 100vw;

  background-color: blue;
}


