@import '../../components/BasicStyle/BasicStyle.scss';


#header{
  display: inline-flex;
  justify-content: space-between;
  background-color : $basicIndigo;
  height: 60px;
  width: 100vw;
}

#searchMyPaper, #paperEdit{
  height: 100%;
  width: 80%;
}

#contentOuter{
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y : scroll;
}


