@import '../../BasicStyle/BasicStyle.scss';

.paperListWrapper {
  width: 100%;
  border: 3px solid $basicIndigo;
  margin-top: 10px;

  .paperColumnContainer {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid $basicIndigo;
    display: flex;
    flex-direction: row;

    .column {
      width: 23%;
      border: 1px solid red;
      display: flex;
      justify-content: center;

      .paperTitleColumn, .paperAuthorColumn, .paperDOIColumn,.paperURLColumn {
        display: flex;
        align-items: center;
        width: 90%;
        border: 1px solid blue;
        font-size: 1.3em;
        color: $basicIndigo;
        font-weight: bold;
      }
    }    
  }

  .paperListContainer {
    width: 100%;

    .paperList {
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: row;
      
      .paperTitle, .paperAuthor, .paperDOI, .paperURL {
        width: 23%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .paperTitle {
        .showSomeTitle {
          border: 1px solid blue;
          width: 90%;
          overflow: hidden;
          margin:5px 0 5px 0;
          font-size: 1.2em;
          font-weight: bold;
        }

        &:hover {
          .showAllTitle {
            visibility: visible;
            width: 90%;
            height: auto;
            color: $basicOrange;
            border: 1px solid blue;
            margin:5px 0 5px 0;
            word-break: break-all;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .showAllTitle {
          visibility: hidden;
          width: 0;
          height: 0;
        }
      }

      .paperAuthor {
        .showSomeAuthor {
          border: 1px solid blue;
          width: 90%;
          overflow: hidden;
          margin: 5px 0 5px 0;
          font-size: 1.2em;
          font-weight: bold;
        }

        &:hover {
          .showAllAuthor {
            visibility: visible;
            width: 90%;
            height: auto;
            color: $basicOrange;
            border: 1px solid blue;
            margin:5px 0 5px 0;
            word-break: break-all;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .showAllAuthor {
          visibility: hidden;
          width: 0;
          height: 0;
        }
      }

      .paperDOI {
        .showSomeDOI {
          border: 1px solid blue;
          width: 90%;
          overflow: hidden;
          margin: 5px 0 5px 0;
          font-size: 1.2em;
          font-weight: bold;
        }

        &:hover {
          .showAllDOI {
            visibility: visible;
            width: 90%;
            height: auto;
            color: $basicOrange;
            border: 1px solid blue;
            margin:5px 0 5px 0;
            word-break: break-all;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .showAllDOI {
          visibility: hidden;
          width: 0;
          height: 0;
        }
      }
      .paperURL {
        .showSomeURL {
          border: 1px solid blue;
          font-size: 1.2em;
          font-weight: bold;
          width: 90%;
          overflow: hidden;
          margin: 5px 0 5px 0;
        }

        &:hover {
          .showAllURL {
            visibility: visible;
            width: 90%;
            height: auto;
            color: $basicOrange;
            border: 1px solid blue;
            margin:5px 0 5px 0;
            word-break: break-all;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .showAllURL {
          visibility: hidden;
          width: 0;
          height: 0;
        }
      }

      .paperButton {
        width: 8%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .addButton {
          width: 92%;
          height: 30px;
          background-color: $basicIndigo;
          border: $basicIndigo;
          border-radius: 10px;
          outline: none;
          font-size: 1.3em;
          font-weight: bold;
          color: $basicWhite;
        }
      }
    }
  }
}