@import '../../../BasicStyle/BasicStyle.scss';

#headerLayoutRoute{
  display: inline-flex;
  justify-content: space-between;
  background-color : $basicIndigo;
  height: 60px;
  width: 100vw;
}
#mainContentLayout{
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

#mainFilterLayout{
  width: 70%;
  height: auto;
  margin-left: 15%;
}

#mainListLayout{
  margin-left: 15%;
  margin-top: 10px;
  width: 70%;
}
