@import '../../../BasicStyle/BasicStyle.scss';

#paperComponent{
  border: 1px solid $basicIndigo;
  cursor: pointer;
}//논문 전체 레이아웃

#paperComponent:hover{
  border: 1px solid $basicOrange;
  #paperTitle{
    cursor: pointer;
  }
  .url{
    color: $basicOrange;
  }
}//논문 전체 레이아웃 hover

#paperStatus{
  display: flex;
  .status{
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid $basicIndigo;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .first{
    background-color: $basicIndigo;
    color: white;
  }
}// 논문 상태

#paperTitle{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  max-height: 46px;
  color: $basicIndigo;
}//논문 제목

#paperInfo{
  display: flex;
  margin-top: 10px;

  .info{
    font-size: 15px;
    margin: 0 10px 0 0;
  }
}//논문 세부 정보

#paperURL{
  text-align: left;
  .url{
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    color: $basicIndigo;
  }
}//논문 url

