@import '../BasicStyle/BasicStyle.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Rounded_Elegance;

  .inputContainer {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;

    .loginBox {
      width: 45%;
      height: 10%;
      margin-bottom: 3%;
      padding: 10px;
    }
  }

  .buttonContainer {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .BtnBox {
      width: 50%;
      height: 15%;
      margin-bottom: 3%;
      background-color: $basicWhite;
      border: 0;
      font-size: 130%;
      border-radius: 45px;
      transition: all 0.3s ease 0s;

      &:hover {
        transform: translateY(-7px);
      }

    }

    .LoginBtn {
      background-color: $basicOrange;
      color: $basicWhite;
    }

    .SignUpBtn {
      background-color: $basicIndigo;
      color: $basicWhite;
    }
  }
}