@import '../BasicStyle/BasicStyle.scss';

#headerLogoLayout{
  display: flex;
  align-items : flex-end;
  justify-content: center;
  width: 20%;
  height: 100%;

  .logoName{
    color: $basicWhite;
    font-size: 23px;
    margin-bottom: 10px;
  }
  .subLogoName{
    align-self: flex-end;
    color: $basicWhite;
    font-size: 11px;
    float: bottom;
    margin: 10px;
  }
}

#headerSettingLayout{
  display: flex;
  position: relative;

  float: right;
  width: 40%;
  height: 100%;
  justify-self: center;
}//사용자 아이콘

#dropBox{
  position: absolute;
  top: 50px;
  right: 20px;
  width: 170px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 5px 5px 15px 1px lightgray;

  .divideLine{
    color: $basicGray;
    width: 100%;
  }

  .textWrapper:hover{
    background-color: $basicOrange;
    .text{
      color: $basicWhite;
    }
  }
  .textWrapper:first-child{
    border-radius: 3px 3px 0 0;
  }
  .textWrapper:last-child{
    border-radius: 0 0 3px 3px;
  }
  .text{
    color: $basicIndigo;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 14px;
  }
} //드롭박스


#headerSettingTabLayout{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  align-items: flex-end;
  width: 60%;
}

.headerSettingTab {

  .text {
    color: white;
    font-size: 20px;
  }
}

#headerSettingUserLayout{
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.headerSettingUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 30%;
}
.img{
  align-self: center;
}

.headerSettingUser {
  .userImage {
    height: 100%;
    width: 70%;
  }
}

.headerSettingUser {
  .text{
    color: white;
    font-size: 15px;
  }
}
