@import '../../BasicStyle/BasicStyle.scss';

.loginWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formElement {
    margin: 2% 0;
  }

  .formForId, .formForPassword {
    padding-left: 2%;
    width: 48%;
    height: 25px;
  }

  .buttonForLogin, .buttonForSignUp {
    width: 55%;
    height: 30px;
    border-radius: 45px;
    border: 0;
    font-size: 130%;
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateY(-7px);
    }
  }

  .buttonForLogin {
    background-color: $basicOrange;
    color: $basicWhite;
  }

  .buttonForSignUp {
    background-color: $basicIndigo;
    color: $basicWhite;
  }
}
