<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 콘솔로 로그를 남김 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<!-- 로그 메시지 패턴 -->
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}) : %msg%n
			</Pattern>
		</encoder>
	</appender>
         
         
    <!-- root는 글로벌 로거를 의미하며, 위의 logger에 해당하지 않으면 root 로거가 실행된다. -->
	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>