@-webkit-keyframes green-pulse {
    0% { color:#4cea4c;  }
    50% { color:#00ff00; filter: blur(1px); }
    100% { color:#4cea4c; }
  }

.glow-green {
    color: #4cea4c;
    -webkit-animation: green-pulse 2s linear 1s infinite;
}

@-webkit-keyframes red-pulse {
    0% { box-shadow:0 0 8px #ea4c4c, inset 0 0 8px #ea4c4c; }
    50% { box-shadow:0 0 16px #ea4c4c, inset 0 0 14px #ea4c4c; }
    100% { box-shadow:0 0 8px #ea4c4c, inset 0 0 8px #ea4c4c; }
  }

.glow-red {
    color: #ea4c4c;
    -webkit-animation: red-pulse 2s linear 1s infinite;
}

@-webkit-keyframes red-pulse {
  0% { color:#ea4c4c;  }
  50% { color:#ff0808; filter: blur(1px); }
  100% { color:#ea4c4c; }
  }

.plain-grey {
  color: #444444;
}

.black {
  color: #000;
}

.bg-color-waiting {
  background-color: gray !important;
  color: #fff;
}


.bg-color-running {
  color: #fff;
  background-color: orange !important;
  color: yellow;
}


.bg-color-done {
  color: #fff;
  background-color: green !important;
}