@import '../BasicStyle/BasicStyle.scss';

#searchMyPaperWithOption{
  width: 100%;

}

#titleLayout{
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;

  .text{
    font-size: 30px;
    color: $basicIndigo;
    font-weight: bold;
  }
}

#searchMyPaperWithOption{
  width: 100%;
  height: auto;
}

#viewMyPaperComponent{
  width: 100%;
  height: auto;
}
