<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login </title>

  <link rel="stylesheet" href="login_css/reset.css">

    <link rel="stylesheet" href="login_css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<div class="avatar">
      <img src="img/logo.png">
		</div>
		<input type="text" placeholder="아이디" required>
		<div class="bar">
			<i></i>
		</div>
		<input type="password" placeholder="비밀번호" required>
		<a href="" class="forgot_link">forgot ?</a>
		<button>Sign in</button>
	</div>

  <script src=""></script>

</body>

</html>