@import '../../BasicStyle/BasicStyle.scss';



#mainOption{
  width: 100%;
  margin-top: 80px;
  height: 310px;
}

#mainOptionSearchLayout{
  display: flex;
  align-items: center;
  border: 3px solid $basicIndigo;
  width: 100%;
  height: 40px;

  #select{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
  }
}

#mainOptionSearchLayout {
  .searchInput {
    font-size: 15px;
    width: 90%;
    padding-left: 20px;
    border: none;
    height: 15px;
    outline: none;
  }
}

#mainOptionSearchButton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $basicIndigo;
  width: 10%;
  height: 100%;
}
#mainOptionSearchButton > p{
  color: white;
  font-size: 20px;
}

#mainOptionFilterLayout{
  width: 100%;
  margin-top: 10px;
  height: calc(100% - 46px);
}
