@CHARSET "utf-8";

form textarea {
   background: none repeat scroll 0 0 #fff;
   border: medium none;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   -ms-border-radius: 4px 4px 0 0;
   -o-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
   color: #777777;
   float: left;
   font-family: Lato;
   font-size: 14px;
   height: 71px;
   letter-spacing: 0.3px;
   padding: 20px;
   width: 100%;
   resize: vertical;
   outline: none;
   border: 1px solid #F2F2F2;
}