@import '../BasicStyle/BasicStyle.scss';

.LandingBackground {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Rounded_Elegance;
 
  .introduceContainer {
    width: 54%;
    height: 100%;

    .decorationContainer {
      width: 92%;
      height: 100%;
      background-color: $basicIndigo;
      float: right;
      display: flex;
      flex-direction: column;
      align-items: center;

      .flagDecoration {
        width: 100%;
        height: 20%;
        
        .flagImage {
          float: right;
          width: 6%;
          height: 50%;
          margin-right: 10%;
        }
      }

      .logoDecoration {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logoImage {
          width: 40%;
          height: 90%;
        }
      }

      .nameDecoration {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $basicWhite;
      }
    }
  }

  .functionContainer {
    width: 46%;
    height: 100%;
    background-color: $basicWhite;
    display: flex;
    flex-direction: column;

    .nameDecoration {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $basicIndigo;
    }

    .formContainer {
      width: 100%;
      height: 60%;
    }
  }
}

.BigName {
  margin: 0;
  font-size: 500%;
}

.BigIntroduce {
  margin: 0;
  font-size: 150%;
}

.smallName {
  margin: 0;
  margin-top: auto;
  margin-bottom: 5%;
  font-size: 400%;
}

.smallIntroduce {
  margin: 0;
  margin-bottom: 8%;
  font-size: 100%;
}