@import '../../BasicStyle/BasicStyle.scss';

.signUpWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .idContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;

    .inputForId {
      width: 68%;
      padding: 2%;
      border: 1.5px solid $basicIndigo;
    }

    .checkForId {
      width: 30%;
      font-size: 0.7em;
      color: $basicWhite;
      background-color: $basicIndigo;
      border: $basicIndigo;
      outline: none;
    }
  }

  .passwordContainer {
    width: 60%;
    display: flex;
    flex-direction: column;

    .inputForPassword, .checkForPassword{
      width: 95%;
      padding: 2%;
      height: 15px;
      border: 1.5px solid $basicIndigo;
    }

    .invalidPassword, .differentPassword {
      margin: 1% 0;
      color: $basicRed;
      font-weight: bold;
      font-size: 0.8em;
    }
  }

  .authorContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .inputForName {
      width: 95%;
      padding: 2%;
      height: 15px;
      border: 1.5px solid $basicIndigo;
      margin-bottom: 2%;
    }

    .inputForAuthorName {
      width: 100%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: row;
      
      .AuthorName {
        width: 90.3%;
        padding: 2%;
        border: 1.5px solid $basicIndigo;
      }

      .buttonForAuthorName {
        width: 12.7%;
        outline: none;
        background-color: $basicIndigo;
        border: $basicIndigo;
        color: $basicWhite;
      }
    }

    .selectBoxForOrganization {
      width: 100%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: row;

      .organization {
        width: 100%;
        padding: 1.5%;
        border: 1.5px solid $basicIndigo;
        appearance: none;
        background: url('../../../assets/images/DropBoxIcon.png') no-repeat center right;
      }
    }
  }

  .conditionContainer {
    width: 60%;
    display: flex;
    flex-direction: column;

    .conditions {
      width: 97.5%;
      resize: none;
      overflow: hidden-unscrollable;
      border: 1.5px solid $basicIndigo;
      margin-bottom: 2%;
    }

    .checkForCondition {
      margin: 0 0 1.5% 0;
      margin-left: auto;
    }
  }

  .buttonContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;

    .buttonForCreate, .buttonForBack {
      height: 30px;
      border-radius: 5px;
      border: 0;
      outline: none;
      font-size: 130%;
      color: $basicWhite;
    }

    .buttonForCreate {
      width: 66%;
      background-color: $basicOrange;
      border: solid $basicOrange;
    }

    .buttonForBack {
      width: 33%;
      background-color: $basicIndigo;
      border: solid $basicIndigo;
    }
  }

  .idCautionMessage, .passwordCautionMessage {
    font-size: 0.8em;
    color: $basicRed;
    font-weight: bold;
  }

  .idCautionMessage {
    width: 60%;
    margin: -1% 0 1.5% 0;
  }
  
  .passwordCautionMessage {
    width: 80%;
    margin: 1% 0 1% 0;
  }
}