@import '../../BasicStyle/BasicStyle.scss';

#table {
  width: 100%;
  overflow-x: scroll;
  font-size: 13px;
}

#tableInner {
  display: inline-flex;

}

.column {
  display: inline-flex;
  width: auto;
  min-width: 70px;
  border-right: 1px solid;
  flex-direction: column;
}

.column:last-child{
  border-right: none;
}

.header {
  border-bottom: 1px solid rgb(46,53,78);
  padding: 10px;
}

.body {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30px;
  text-overflow: ellipsis;
  min-width: 100px;
  border-bottom: 1px solid rgb(46,53,78);
}

.body:last-child {
  border-bottom: none;
}

.body > p {
  width: 100%;
}



/*
 <table>
    <thead>
    <tr>
      <td>
        행
        <!--{{this.headers[0]}} 행-->
      </td>
      <td>
        제목
        <!--{{this.headers[3]}} 제목-->
      </td>
      <td>
        교신저자
        <!--{{this.headers[5]}} 교신저자-->
      </td>
      <td>
        저자 상태
        <!--{{this.headers[6]}} 저자 상태-->
      </td>
      <td>
        저널명
        <!--{{this.headers[7]}} 저널명-->
      </td>
      <td>
        인용 수
        <!--{{this.headers[8]}} 인용수-->
      </td>
      <td>
        발행년월
        <!--{{this.headers[9]}} 발행년월-->
      </td>
      <td>
        권, 호, 페이지
      </td>
      <td>
        저널명
        <!--{{this.headers[10]}} 저널명-->
      </td>
      <td>
        등급
        <!--{{this.headers[15]}} 등급-->
      </td>
      <td>
        백분율
        <!--{{this.headers[17]}} 백분율-->
      </td>
      <td>
        파싱 상태
        <!--{{this.headers[18]}} 파싱 상태-->
      </td>
      <td>
        UID
        <!--{{this.headers[1]}} UID-->
      </td>
      <td>
        DOI
        <!--{{this.headers[2]}} DOI-->
      </td>
    </tr>
    </thead>
    <tbody >
    <tr v-for="datas in paperData">
      <td>
        {{datas[0]}}
      </td>
      <td>
        {{datas[3]}}
      </td>
    </tr>

    </tbody>

  </table>
*/


