$basicWhite: rgb(255,255,255);
$basicBlack: rgb(0,0,0);
$basicGray: rgb(230,230,230);
$basicIndigo: rgb(46,53,78);
$basicOrange: rgb(239,88,57);
$basicRed: rgb(255,0,0);
* {
  margin : 0;
  padding: 0;
}


