$basicWhite: rgb(255,255,255);
$basicBlack: rgb(0,0,0);
$basicGray: rgb(242,242,242);
$basicIndigo: rgb(46,53,78);
$basicOrange: rgb(239,88,57);
$basicRed: rgb(255,0,0);
* {
  margin : 0;
  padding: 0;
}


// @font-face {



//   font-family: "Rounded_Elegance";
//   //src: url('../../assets/font/Rounded_Elegance.ttf');
//   font-style: normal;
//   font-weight: normal;
// }

