.bg-darkblue {
    background-color: #243377;
}

.bg-gradient-darkblue {
    background-color: #243377;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#102153));
    background-image: linear-gradient(180deg, #243377 10%, #102153 100%);
    background-size: cover;
  }

.btn-darkblue {
    color: #fff;
    background-color: #243377;
    border-color: #243377;
}

.text-darkblue {
    color: #243377 !important;
}

.text-white {
    color: #fff !important;
}

.filebox label { 
    display: inline-block; 
    padding: .5em .75em; 
    color: #999; 
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #fdfdfd; 
    cursor: pointer; 
    border: 1px 
    solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em; 
} 

.filebox input[type="file"] { 
    /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}





/*

 * 폰트 목록
 1. BlackHanSans
 2. DoHyeon
 3. Gugi
 4. Jua
 */

@font-face {
    font-family: 'BlackHanSans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/BlackHanSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'DoHyeon';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/DoHyeon-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Gugi-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Jua-Regular.woff) format('woff');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR-Black';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR-Light';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Light.otf) format('opentype');
}


/*
 디렉토리 트리 뷰 css
*/

.dir-upmureport-theme {
    height: 100%;
    
    
}

.dir-upmureport-theme
.deni-react-treeview-container {
    background-color: #fff;
    border-color: #fff !important;
    width: 100%;
    font-size: 14px;
}

.dir-upmureport-theme
.deni-react-treeview-container
.deni-react-treeview-item-container {
    height: 36px;
}

.icon-align-r {
    align-items: right !important;
    width: 100%;
    flex: 1;
}
.treeview-item.text {
    flex: 1;
}
.action-btn {
    margin-right: 5px;
    cursor: pointer;
    opacity: 0.5;
}
.action-btn.trash {
    color: #ff6666;
}
.action-btn.edit {
    color: #006699;
    margin-top: 1px;
}
.action-btn:hover {
    visibility: visible;
    opacity: 1;
}