
input,textarea {
	border:none;
	background-color: #F8F8FF !important;
}
textarea:focus, input:focus{
    outline: none;
    background-color: #F8F8FF !important;
}
textarea{
	resize:none;
}
.comment_btn,.write_btn,.update_btn{
	border:none;
	border-radius: 5px;
	background-color: #3B4E32 !important;
	width:100px;
	padding:8px;
	color: #ffffff;
	text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#commentList a:link ,.pb_div a:link{
	color:#000000;
	text-decoration: none;
}
#commentList a:visited,.pb_div a:visited{
	color:#000000;
}

.comment_btn:after,.write_btn:after,.update_btn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.comment_btn:active:after,.write_btn:after,.update_btn:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}